.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: #f8f8f8;
  }
  
  .contentContainer {
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  
  .servicesHeading {
    font-size: 32px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    color: #292929;
  }
  
  .servicesDescription {
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: #525252;
    line-height: 1.6;
  }
  