/* Base Styles */
.ctaSection {
    width: 1100px;
    padding: 40px 170px;
    background: linear-gradient(0deg, rgba(242, 102, 34, 0.88) 0%, rgba(242, 102, 34, 0.88) 100%), url('../../../assets/images/bookAcall.jpg') no-repeat center center;
    background-size: cover;
    box-shadow: 0px 0px 25px rgba(129, 46, 6, 0.75) inset;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    margin: 0 auto;
    bottom: -100px;
    z-index: 1100;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    box-sizing: border-box;
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    text-align: center;
  }
  
  .title {
    color: #f8f8f8;
    font-size: 32px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    line-height: 40px;
    word-wrap: break-word;
  }
  
  .description {
    width: 660px;
    color: #f8f8f8;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    line-height: 26px;
    word-wrap: break-word;
    text-align: center;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  
  .inputField {
    width: 330px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1.5px solid #f8f8f8;
    background-color: transparent;
    color: #f8f8f8;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  .inputField::placeholder {
    color: #f8f8f8;
    opacity: 0.8;
  }
  
  .inputField:focus {
    border-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .button {
    height: 40px;
    padding: 8px 16px;
    background: #f8f8f8;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #292929;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  .button:hover {
    background: #d9d9d9;
    color: #000;
  }
  
  /* Responsive Styles for Mobile */
  @media (max-width: 768px) {
    .ctaSection {
      width: 100%;
      padding: 70px 16px; /* Match the padding */      gap: 40px;
      bottom: +0px;
      border-radius: 0;
      margin-bottom: 0px;
      
    }
    .textContainer {
      align-self: stretch;
      gap: 8px;
      text-align: center;
    }
  
    .title {
      font-size: 24px;
      line-height: 28px;
      color: #fefefe;
      font-family: 'DM Sans', sans-serif;
      font-weight: 600;
      word-wrap: break-word;
    }
  
    .description {
      width: 100%;
      font-size: 16px;
      line-height: 24px;
      color: #fefefe;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      word-wrap: break-word;
    }
  
    .buttonContainer {
      align-self: stretch;
      flex-direction: column;
      gap: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .inputField {
      height: 40px;
      padding: 8px 16px;
      border-radius: 8px;
      border: 1.5px solid #f8f8f8;
      background-color: transparent;
      color: #f8f8f8;
      font-size: 16px;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      outline: none;
      transition: border-color 0.3s ease, background-color 0.3s ease;
    }
  
    .button {
      height: 40px;
      padding: 8px 16px;
      background: #f8f8f8;
      border-radius: 8px;
      color: #292929;
      font-size: 16px;
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 500;
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background 0.3s ease, color 0.3s ease;
    }
  
    .button:hover {
      background: #d9d9d9;
      color: #000;
    }
  }